body {
background-image: url("http://arunart.com/wp-content/uploads/2013/04/city-and-gray-texture-line-stripe-stripes-black-188359.jpg");
background-repeat: repeat;
text-align: center;

}
.alert{
margin-top:100px; 
margin-left:50px; 
}


#main{
position: relative;
background: #E5E5E5;
box-shadow: 0px 5px 10px#000000 ;
padding: 50px;


top: 50px;
}
#main p{
  position: relative;

  
  text-indent: 30px;
  line-height: 2.0;  

  
}
.pic{
  position: relative;
}
.pic img{ 

  top: 100px;
  margin: 20px;
  box-shadow: 0px 10px 30px#000000 ;
  position: relative;
  max-height: 1000px;
  height: auto;
  max-width: 1000px;
 
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #D7D7D7;
  z-index: 49;
  border-bottom: thin solid #808080;
  box-shadow: -60px -60px 20px 55px#000000;

}
.nav a {

  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://rmdeaftheatre.com/wp-content/uploads/2012/11/gray-background-3.jpg');
  height: auto;
 
  background-size: cover;
  box-shadow: 0px 5px 10px#121212 ;
   position: relative;
  top: 50px;
}


.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
}

.jumbotron p {
  font-size: 20px;
  color: #000000;
}
.jumbotron a {
  color: #4d4d4d;
  text-shadow: 0px 0px 0px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 20px;
  left:45px;
}
.jumbotron small{
  color: #dbdbdb;
}
.jumbotron label{
  color: #dbdbdb;
}
input[type = "submit"]{
    border: none;
    background: none;
    text-transform: uppercase;
    font-size:20px;
    opacity: .5;
    margin-top: 36px;
    padding-bottom: 0px;

}
input[type = "file"]{
    display: block;
    border: none;
    background: none;
    text-transform: uppercase;
    font-size:12px;
    opacity: .7;
    
    padding-bottom: 0px;

}
#recover{
  
  left:25px;
  font-size: 14px;
  font-weight: normal;
  color: #4d0000;
  opacity: .5;
  line-height: 0px;
 

}